

.custom-gap {
  gap: 7rem;
}

.navbar-overlay {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  z-index: 10;
  background: transparent;
}

.navbar-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.navbar-brand img {
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar-brand img {
    height: 110px;
  }
}
.navbar-brand img {
  transition: transform 0.2s ease;
}

.navbar-brand img:hover {
  transform: scale(1.05);
}
